
.login {
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.form{
  border-radius: 5px;
  height: 300px;
  width: 250px;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.forma {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 70%;
  width: 100%;
}
.form label {
  display: flex;
  flex-direction: column;
  width: max-content;
  font-weight: bold;
  color: #036b52;
}
.banner {
  height: 100vh;
  width: 50vw;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
  background-color: #6c757d;
}
.banner img {
  width: 15vw;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  
  height: 100vh;
  width: 50vw;
  flex-direction: column;
  justify-content: space-around;
  background-color: #6c757d;
}
/* .codenation {
  width: 210px;
}
.ciandt {
  height: 50px;
}
.trybe {
  height: 60px;
} */
.loginbtn {
  font-weight: bold;
  border-radius: 5px;
  height: 30px;
  background-color: #ed1941;
  border: 2px solid transparent;
  color: white;
  transition: all .5s ease;
}
.loginbtn:hover {
  background-color: white;
  color: #ed1941;
  border:2px solid #ed1941;
  margin-bottom: 10px;
}
.javabugs {
  width: 210px;
}